# java class
*.class

# idea
.idea/

# gradle
.gradle/
buildSrc/.gradle/

# build
mirai-compose/build/
mirai-compose/run/
mirai-compose/out/

mirai-compose/data/
mirai-compose/config/
mirai-compose/bots/
mirai-compose/plugins/

buildSrc/build/
build/

cef/
