name: Release

on:
  push:
    tags:
      - "v*.*.*"
    paths-ignore:
      - README.md
      - icons/*
      - LICENSE

jobs:
  job_upload_release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macOS-latest ]
        include:
          - os: windows-latest
            format: msi

          - os: ubuntu-latest
            format: deb

          - os: macOS-latest
            format: dmg
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 15
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Init gradle project
        run: ./gradlew clean

      - name: Build Package
        run: ./gradlew package

      - name: Upload res
        uses: actions/upload-artifact@v2
        with:
          name: mirai-compose-${{ matrix.os }}
          path: app/build/compose/binaries/main/${{ matrix.format }}/*

  job_dowland_release:
    runs-on: ubuntu-latest
    needs: job_upload_release
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download
        id: download
        uses: actions/download-artifact@v2
        with:
          path: ./download

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ steps.download.outputs.download-path }}/mirai-compose-macOS-latest/*
            ${{ steps.download.outputs.download-path }}/mirai-compose-ubuntu-latest/*
            ${{ steps.download.outputs.download-path }}/mirai-compose-windows-latest/*
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync to mirai forum
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: ${{ secrets.ftp_server }}
          user: ${{ secrets.ftp_account }}
          password: ${{ secrets.ftp_password }}
          localDir: ${{ steps.download.outputs.download-path }}
